body {
  font-family: Arial, Sans-Serif;
}
body {
  color: green;
}
h1 {
  background-color:lightBlue;
}

.tablestyle {
  background-color: pink;
}
body {
  background-color:pink;
}
h2 {
  background-color:lightBlue;
}
h3 {
  background-color:lightBlue;
}
h4 {
  background-color:lightBlue;
}
